@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<!-- title column -->
<div class="row text-center">
    <div class="col-12 ms-auto">
        <h1>
            Page not found...
        </h1>
    </div>
</div>

<!-- text column-->
<div class="row align-items-center">
    <div class="col-sm-12 col-lg-6 offset-lg-3 mb-3">
        <p>
            The page you are looking for may or may not have existed at
            one point. Whether it had or hadn't, it doesn't now...and we
            should move on with our lives...It's what that page would have
            wanted...if indeed it ever existed.
        </p>
        <p>
            If you need a minute, that's fine. When you feel you're
            ready, you can click on the button below to return to the main page.
        </p>
    </div>

</div>

<!-- button to return to main page -->
<div class="row text-center">
    <div class="col-12">
        <div aria-label="Go back to main page.">
            <a class="btn ripple" asp-controller="Home" asp-action="Index">Main page</a>
        </div>
    </div>
</div>