@{
    ViewData["Title"] = "Home Page";
}
@model Page

<!-- title column -->
<div class="row text-center">
    <div class="col-12">
        <h1>The Walk Home</h1>
    </div>
</div>

<!-- text column-->
<div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6 mb-3">
        <p>
            The decisions you make throughout this story will affect the outcome, sometimes quite
            profoundly...But I
            wouldn’t think
            about that too much.
        </p>
        <p>
            Anyway, it should only take you a few minutes to complete. Why not give it a try?
        </p>
    </div>
</div>

<!-- button group column -->
<div class="row text-center">
    <div class="col-12">
        <div aria-label="Go to story.">
            <a class="btn ripple" asp-controller="Page" asp-action="Index" asp-route-id="0">Begin</a>
        </div>
    </div>
</div>
